---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Eventos from '../components/Eventos.astro';
import Paquetes from '../components/Paquetes.astro';
import Cotizador from '../components/Cotizador.astro';
import Galeria from '../components/Galeria.astro';
import Proceso from '../components/Proceso.astro';
import Testimonios from '../components/Testimonios.astro';
import FAQ from '../components/FAQ.astro';
import Ubicacion from '../components/Ubicacion.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Eventos />
    <Paquetes />
    <Cotizador />
    <Galeria />
    <Proceso />
    <Testimonios />
    <FAQ />
    <Ubicacion />
    <CTA />
  </main>
  <Footer />
  <WhatsAppFloat />
</Layout>
